<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">About this Program</h3>
        </div>
        <div class="panel-body">
            <p>Computer vision is considered an AI-complete problem.
            In other words, solving it would be equivalent to creating a program that's as smart as humans.
            Needless to say, such a program is yet to be created.
            However, if you've ever used apps like Google Goggles or Google Photos—or watched the segment
                on Google Lens in the keynote of Google I/O 2017—you probably realize that computer vision has become very powerful.</p>
            <p>Through a REST-based API called Cloud Vision API, Google shares its revolutionary vision-related technologies with all developers.
            By using the API, you can effortlessly add impressive features such as face detection, emotion detection, and optical character
                recognition to your apps.</p>

        </div>
    </div>
</div>